body {
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkblue;
}

ul {
    list-style-type: none;
}

.container { 
    display: flex;
}

.sidebar { 
    background-color: #F5F7F9;
    width: 20%;
    padding: 15px;
}

.content {  
    padding: 15px;
    padding-left: 25px;
    width: 80%;
}

.active {
    font-weight: bold;
}