/* partials/test.css */

:root {
  --test-apply: {
    border: 1px solid black;
  }
}

.test {
  color: white;
  background: var(--color-green);
  padding: calc(30px - 25px);
  display: flex;

  @media (--breakpoint) {
    background-color: #BADA55;
    @apply --test-apply;
  }
}

@font-face {
  font-family: 'Open Sans (test)';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('./font.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}

