.componentBase {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  & > * { width: 100%; }
}

.componentSm {
  & > * {
    max-width: var(--container-max-width-sm);
  }
}

.componentMd {
  & > * {
    max-width: var(--container-max-width-md);
  }
}

.componentLg {
  & > * {
    max-width: var(--container-max-width-lg);
  }
}
