@import './test/test.css';
@import 'theme.css';

.test {
  color: var(--color-green);
}

.background {
  background-image: url('./eecolor.png');
  width: 100px;
  height: 100px;
}

.multipleBackground {
  background: url('bg1.jpg'), url('bg2.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: top left, top right;
  width: 600px;
  height: 100px;
}
