html {
  font-size: calc(100% / 1.6);
  height: 100%;

  & > body {
    height: 100%;
  }
}

body {
  color: var(--color-gray-900);
  font-family: var(--font-family-base);
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-base-400);
  line-height: 1.7;

  & > * {
    height: 100%;
  }
}
