*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border: 0;
  color: currentColor;
  vertical-align: middle;
  background: none;
  font: inherit;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

button {
  touch-action: manipulation; /* Fix iOS: disable double tab zoom */

  &:not([disabled]) {
    cursor: pointer;
  }
}

label {
  cursor: pointer;
}

address { font: inherit; }

ol,
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img,
video {
  height: auto;
}
