.component {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-100);

  @media (--viewport-lg) {
    padding: var(--size-40);
  }

  & > *:not(:last-child) {
    margin-bottom: var(--size-40);
  }
}

.logoWrapper {
  text-align: center;
}

.componentLink {
  color: hotpink;
}
